* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.bn-tab {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bn-tab p
{
  text-align: center;
  font-size: 1vh;
  font-weight: bold;
}
.add
{
  margin-bottom: 90px;

}
.home-screen
{
  height: 100%;
}
	
.qr-container{
  text-align: center;
}
.main-content
{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width:100%;
}
.row
{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}
.time-container
{
  font-family:Roboto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	transition: .5s;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*Add screen*/

.form-container
{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.go{
  float: right;
  min-width: 80px;
  margin-top: 10px;
}

		
